# Copia este archivo a .env.local para desarrollo local
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_APP_DOMAIN=http://localhost:3000
NEXT_PUBLIC_ENVIRONMENT=development

DATABASE_URL=postgresql://admin:localpassword@localhost:5435/votabien_local

NEXT_PUBLIC_YAPE_PHONE=000000000
NEXT_PUBLIC_YAPE_QR_IMAGE=https://images/yape-qr.png
NEXT_PUBLIC_PAYPAL_URL=https://paypal.me/votabienperu
NEXT_PUBLIC_PATREON_URL=https://patreon.com/votabienperu

# API Interna (FastAPI)
API_SECRET_KEY=super_secreto_compartido_entre_nextjs_y_fastapi

# Configuración de Better Auth
BETTER_AUTH_SECRET=genera_un_secreto_largo_aqui
BETTER_AUTH_URL=http://localhost:3000

# Configuración de Correos (Maileroo)
MAILEROO_API_KEY=your_api_key_here
MAIL_FROM=no-reply@votabien.pe

# Claves de acceso de R2
R2_ACCESS_KEY_ID="tu_access_key"
R2_SECRET_ACCESS_KEY="tu_secret_key"
# Endpoint S3 de tu cuenta Cloudflare
R2_ENDPOINT="https://<TU_ACCOUNT_ID>.r2.cloudflarestorage.com"
# Nombre de tu bucket
R2_BUCKET_NAME="mi-bucket-votabien"
# URL pública vinculada a tu bucket
NEXT_PUBLIC_R2_PUBLIC_URL="https://estaticos.tubucket.com"
